#options {
  background-color: skyblue;
  padding: 5px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

circle:hover, text:hover {
  cursor: pointer;
}

path.highlight {
  stroke: blue;
}
line.highlight {
  stroke: skyblue;
}
circle.highlight {
  fill: blue;
}

path.hunt, line.hunt {
  stroke: red;
}

circle.hunt {
  fill: red;
}

.selected {
  font-weight: 600;
  fill: black;
}
